* {
	margin: 0px;
	padding: 0px;
	/* box-sizing: border-box; */
}


html {
	  scroll-behavior: smooth;
}



header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)), url(img/prof-pic.jpg);
	height: 100vh; /* viewport height of the header element */
    background-size: cover; /* cover vs. contain || cover is to cover the entire element's background area */
    background-position: center; /* positions the background image on the center */
    background-attachment: fixed;
}


h4 {
	font-weight: bold;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: white;
	font-family: 'Poppins', sans-serif;
}

.logo {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 35px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.nav-links li{
	list-style-type: none;
}

.nav-links a{
	color: #000;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
}


.burger {
	display: none;
	cursor: pointer;

}

.burger div{
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: #000;
}



/******************************/
/* FOOTER SECTION */
/******************************/

footer {
    background: #333;
    padding: 40px;
}

.row {
	display: flex;
	justify-content: center;
}

.row ul li {
	display: inline-block;
}

.footer-text {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 40px;
	color: white;
	letter-spacing: 3px;
}


li img {
	transition: 0.3s;
}

li img:hover {
	transition: 0.3s;
	transform: scale(1.15);

}


/*Bio page styles*/

.background {
	background-color: #f4f4f4;
}

.container {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 100vh;
	width: 100%;
}


.container img {
	/*original size: w-552 h-842*/
	width: 276px;
	height: 421px;
	border-radius: 10px;
	box-shadow: 20px 15px 5px #ccc;
}



.container .row {
	margin-bottom: 40px;
}

.col-pic {
	display: flex;
	justify-content: center;

}




.col-text {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 2;
}

.bio-text {
	margin-bottom: 40px;
}


blockquote {
	font-family: 'Poppins', sans-serif;
    padding: 2%;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-style: italic;
    line-height: 140%;
    position: relative;
    font-size: 14px;
}

blockquote:before {
    content: "\201C";
    display: block;
    font-size: 400%;
    position: absolute;
    top: -5px;
    left: -5px;
}



@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px;);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
	transition: 0.5s;
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(+45deg) translate(-5px,-6px);
	transition: 0.5s;
}




@media screen and (max-width: 1024px) {

		.nav-links {
			width: 60%;
		}


}



@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	

	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		width: 100%;
		transform: translateX(100%);
		color: black;
	}
	
	.nav-links li {
		opacity: 0
	}

	.burger {
		display: block;
	}


	.container {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -50px;
		position: relative;
		
		display: flex;
		flex-wrap: nowrap;
		font-size: 13px;
		justify-content: flex-end;
		text-align: justify-all;
	}


	figure {
		margin-top: 40px;
	}

	.bio-text {
		margin-top: 30px;
		margin-left: 30px;
	}

footer {
	margin-top: 10px;
	height: 50vh;
}

	footer .row {
	width: 50%;
	margin: 0 auto;
}
	

	li img {
	transition: 0.3s;
}

li img:hover {
	transition: 0.3s;
	transform: scale(1.15);

}


}


@media screen and (max-width: 480px){

	body {
		overflow-x: hidden;


	}


	header {
	   background-attachment: scroll;
	}

	.container {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -50px;
		position: relative;

		display: flex;
		flex-wrap: wrap;
		font-size: 12px;
	}


	figure {
		margin-top: 40px;
	}

	.bio-text {
		margin-top: 30px;
	}

blockquote {
	font-family: 'Poppins', sans-serif;
    padding: 2%;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-style: italic;
    line-height: 140%;
    position: relative;
    font-size: 12px;
}
	.nav-links {
		font-size: 12px;
		font-weight: bold;
		position: absolute;
		right: 0px;
		height: 70vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		width: 50%;
		transform: translateX(100%);
		color: black;
	}
	
	.nav-links li {
		opacity: 0
	}

	.burger {
		display: block;
	}


.footer-text {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 20px;
	color: white;
	letter-spacing: 1px;
	font-size: 12px;
}


li img {
	width: 40px;
	transition: 0.3s;
}


li img:hover {
	transition: 0.3s;
	transform: scale(1.15);

}

footer {
	margin-top: 10px;
	height: 40vh;
}


}


.nav-active {
	transform: translateX(0%);
	transition: transform 0.5s ease-in;
}


